* {
  color: #4b5563;
}

body {
  overflow: hidden;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.users-container {
  flex: 20%; 
  padding: 20px; 
  min-width: 300px;
}

.messages-container-items {
  flex: 12; 
  overflow: hidden;
}

.messages-container-box {
  flex: 80%;
}

.message-input-container {
  flex: 1;
}

.users-container,
.messages-container {
  height: calc(100vh - 4rem);
  padding: 20px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a202c;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 6px;
  border: 3px solid #1a202c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 7.5px;
}

.circle:last-child {
  margin-right: 0;
}

.green {
  background-color: #27c93f;
}

.yellow {
  background-color: #ffbd2e;
}

.red {
  background-color: #ff5f56;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}


/* TODO: Make the chat responsive */
@media screen and (max-width: 768px) {
  .user-container {
    flex: 100%;
  }

  .window-bar,
  .messages-container-box {
    display: none;
  }
}
